.file-selector-box {
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 4px;
}

.file-input {
    visibility: hidden;
    position: absolute;
}
